---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}


Education
======
* B.Tech in Electronics and Communication Engineering, SRM Institute of Science and Technology, 2016 - Now
* 12th Grade (Computer Science), Arsha Vidya Mandir, 2014 - 2016

Work experience
======
* Fall 2019: Research Intern
  * Healthcare Technology Innovation Centre  
  * Duties included: Conducting research on the applications of Machine Learning to Physiological signals
  * Supervisor: Mr. Preejith SP

* Summer 2018 - Summer 2020: Undergraduate Research Assistant
  * Solarillion Foundation
  * Duties included: Pursuing Research in Embedded Systems and Machine Learning
  * Supervisor: Mr. Vineeth Vijayaraghavan


  
Skills
======
* Programming Languages:
  * Python
  * Arduino
  * Embedded C
  * Matlab
  * Verilog
  * VHDL 
* Domains:
  * Machine Learning
  * Deep Learning
  * Embedded Systems   
  * Signal Processing

Publications
======
  <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
<h3>Get PDF <a src="/files/CV.pdf">here</a></h3>